@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;
}

@layer base {
  * {
    border-color: rgb(26 24 24 / 0.12);
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 767px) {
    .mobile-video-clean::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none;
    }

    .mobile-video-clean::-webkit-media-controls-play-button {
      display: none !important;
      -webkit-appearance: none;
    }

    .mobile-video-clean::-webkit-media-controls-overlay-play-button {
      display: none !important;
      -webkit-appearance: none;
    }
  }
}

::selection {
  background: rgb(154 190 255 / 0.4);
}
